
section{
    size: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 218, 222);
    width: 100%;


}
img{
   width: 400px;
   height: 400px;
   box-shadow: rgb(254, 247, 104) 0px 30px 90px;
   border: solid black 3px;
   border-radius: 5px;
}
h1{ 
    width: 40vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: x-large;
   
    border: solid 2px;
    border-color: rgb(255, 192, 253);
    color: rgb(254, 106, 185); text-shadow: yellow 0.1em 0.1em 0.2em

}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 38, 38);
    
}
h2:hover{
    color: pink;
}
a{
    display:flex ;
    align-items: center;
    justify-content: baseline;
    color: rgb(255, 0, 187);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 0, 187);
font-size: larger;}
 
p{
    width: bold;
    font-size: x-large;

}


