
*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
nav{
    
    margin-top: 0;
    height: 10vh;
    background-image: url("https://i.pinimg.com/736x/e9/46/2a/e9462a3818f6cebf83bde879e6dc94ff--cute-backgrounds-tumblr-backgrounds.jpg");
    background-position: center center;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
   padding-top: 3vh;
}
a {

    color: rgb(248, 2, 224);
    font-size: larger;
    text-decoration: none;
    
}

a:hover {
    color: rgb(255, 0, 0);
    font-size: x-large;
    
    
}